<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat app</title>
</head>
<body>
<div>
    <div>
        <div>
            <a href="/chat">chat</a>
        </div>
        <div>
            <a href="/login">login</a>
        </div>
        <div>
            <a href="/register">register</a>
        </div>
    </div>
    <div th:if="${isAuthenticated}">
        <form th:action="@{/logout}" form-method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</div>
</body>
</html>